/* remove default browser setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
    font: 15px arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0; 
}


header {
  background: #21273d;
  color: #ffffff;
  min-height: 60px;
  border-bottom: #2991d6 3px solid;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

header ul {
  margin: o;
  padding: 0;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
  font-size: 12px;
} 

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.container {
  padding: 16px;
}

.container-nav {
  float: center;
}

.top {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/rooms&rate\ hero.png);
  height: 70vh;
  background-attachment: relative;
  background-position: center;
  background-size: cover;
}


#logo {
  float: left;
  margin-top: 15px;
  margin-left: 138px;
}

#logo h1 {
  margin: 0;
}


/* rooms */
#rooms {
  margin-top: 15px;
}

#rooms img {
  width: 90px;
}

.rooms {
    padding: 10px 20px;
    height: 300px;
}

.room-cards {
  flex-direction: row;
  text-align: center;
  width: 30%;
  padding: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

/* footer */

footer {
  padding: 20px;
  margin-top: 0px;
  color: #2991d6;
  background-color: #21273d;
  text-align: center;
  text-decoration: none;
}

